<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>35.235.68.180</string>
	<key>port</key>
	<string>1883</string>
	<key>userName</key>
	<string>anytrek</string>
	<key>password</key>
	<string>AZYSvnKKVKDaZxyD</string>
	<key>sendTopic</key>
	<string>anytrek_app_15675</string>
	<key>receiveTopic</key>
	<string>anytrek_h5_15675</string>
	<key>joinTopic</key>
	<string>anytrek_h5join_15675</string>
</dict>
</plist>
