<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>warning</key>
	<string>⚠️⚠️⚠️【本配置文件信息关乎于网络设置，未经同意禁止修改！！！】</string>
	<key>isDevelopmentEnvironment</key>
	<true/>
	<key>developmentEnvironment</key>
	<dict>
		<key>domain</key>
		<string>https://test-master-maint.anytrek.app/node</string>
	</dict>
	<key>productionEnvironment</key>
	<dict>
		<key>domain</key>
		<string>https://maint.anytrek.com/node</string>
	</dict>
</dict>
</plist>
